.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan*
.terragrunt-cache/
crash.log
*.auto.tfvars
secrets.*
*.pem
*.tfvars
*.tfvars.json
crash.*.log
override.tf
*_override.tf
terragrunt-debug.tfvars.json
.env
*.key
id_rsa*
*.ppk
TASKS.md